<!DOCTYPE html>
<html>
<head>
    <title>Admin Utility</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            text-align: center;
        }

        h2 {
            margin-top: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }
    </style>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header style="background-color:black;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div>
            <i class="fa fa-shopping-cart cart-icon" style="font-size: 48px; color: red;"></i>
            <span style="color: white; font-weight: bold; font-size: 36px; font-family: cursive;">Shopwise</span>
        </div>

        <div>
            <a href="{% url 'admin_utility_logout' %}" style="margin-right: 10px;font-size: 20px;color:white;text-decoration: none;padding-right:30px;">Logout</a>
        </div>

    </div>
</header>
    <h1>Admin Utility Dashboard</h1>

    <h2>Total Number of Orders</h2>
    <table>
        <tr>
            <th>Total orders placed today</th>
            <td>{{ total_orders_placed }}</td>
        </tr>
        <tr>
            <th>Total orders placed this month</th>
            <td>{{ total_orders_this_month }}</td>
        </tr>
    </table>

    <h2>Products Per Size and Color</h2>
    <h3>Today's Orders</h3>
    <table>
        <tr>
            <th>Product</th>
            <th>Size</th>

            <th>Total</th>
        </tr>
        {% for product in products_per_size_color %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.size }}</td>

            <td>{{ product.total_products }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>This Month's Orders</h3>
    <table>
        <tr>
            <th>Product</th>
            <th>Size</th>

            <th>Total</th>
        </tr>
        {% for product in products_per_size_color_month %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.size }}</td>

            <td>{{ product.total_products }}</td>
        </tr>
        {% endfor %}
    </table>

<!--    <h2>Quantity Left in Stock</h2>-->
<!--    <h3>Today</h3>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Product</th>-->
<!--            <th>Size</th>-->
<!--            <th>Color</th>-->
<!--            <th>Quantity Left</th>-->
<!--        </tr>-->
<!--        {% for product in stock_left_per_day %}-->
<!--        <tr>-->
<!--            <td>{{ product.product_name }}</td>-->
<!--            <td>{{ product.size }}</td>-->
<!--            <td>{{ product.color }}</td>-->
<!--            <td>{{ product.quantity_left }}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
<!--    </table>-->

<!--    <h3>This Month</h3>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Product</th>-->
<!--            <th>Size</th>-->
<!--            <th>Color</th>-->
<!--            <th>Quantity Left</th>-->
<!--        </tr>-->
<!--        {% for product in stock_left_per_month %}-->
<!--        <tr>-->
<!--            <td>{{ product.product_name }}</td>-->
<!--            <td>{{ product.size }}</td>-->
<!--            <td>{{ product.color }}</td>-->
<!--            <td>{{ product.quantity_left }}</td>-->
<!--        </tr>-->
<!--        {% endfor %}-->
    </table>
 <div class="container">
        <h3>Admin Order Details</h3>

        {% for order_id, order_data in order_items_grouped.items %}
        <div class="card my-3">
            <div class="card-header">
                <h2>Order ID: {{ order_id }}</h2>
                <p>Username: {{ order_data.order_details.user }}</p>
                <p>Ordered Date: {{ order_data.order_details.ordered_date }}</p>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product Variant</th>
                            <th>Quantity</th>
                            <th>Order Item Price</th>
                            <th>Discount Percentage</th>
                            <th>Discount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_data.order_items %}
                        <tr>
                            <td>{{ item.product_variant }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.order_item_price }}</td>
                            <td>{{ item.offer }}%</td>
                            <td>{{ item.discount }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                            <td colspan="4" class="text-right"><strong>Total Amount:</strong></td>
                            <td>${{ order_data.order_details.Total_amount }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right"><strong>Discount Amount:</strong></td>
                            <td>${{ order_data.order_details.discount_amount }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right"><strong>Update Delivery status:</strong></td>


                         <td>
                            <select name="status" id="status_{{ order_id }}">
                                {% if order_data.order_details.current_status in order_data.order_details.status %}
                                    {% for status_choice in order_data.order_details.status %}
                                        <option value="{{ status_choice }}" {% if order_data.order_details.current_status == status_choice %}selected{% endif %}>
                                            {{ status_choice }}
                                        </option>
                                    {% endfor %}
                                {% else %}
                                    <option value="">{{ order_data.order_details.current_status }}</option>
                                    {% for status_choice in order_data.order_details.status %}
                                        <option value="{{ status_choice }}" {% if order_data.order_details.current_status == status_choice %}selected{% endif %}>
                                            {{ status_choice }}
                                        </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                            <button onclick="updateStatus('{{ order_id }}')">Update</button>
                        </td>

                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if error %}
    <h2>Error</h2>
    <p>An error occurred: {{ error }}</p>
    {% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
     setTimeout(function() {
        console.log("**** settime")
        location.reload();
    }, 300000);

     function updateStatus(orderId) {

        const dropdown = document.getElementById("status_" + orderId);
        const selectedStatus = dropdown.value;
        console.log("***", selectedStatus)

          fetch('/admin_order_detail', {
                method: 'PATCH',
                body: JSON.stringify({ order_id: orderId ,
                                        status:selectedStatus}),

                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                // Check if the response was successful
                if (response.ok) {
                    // Refresh the page to update the cart items
                    window.location.reload();
                     const selectedOption = dropdown.querySelector(`option[value="${selectedStatus}"]`);
                    if (selectedOption) {
                        dropdown.selectedIndex = selectedOption.index;
                    }

                     alert('Order status updated');
                }
                else if (response.status === 405) {
                        // Redirect to login page if the response status is 405

                        window.location.href = '{% url "admin_utility_login" %}';
                    }
                else {
                    // Handle unsuccessful response if needed
                    console.error('Error  order status updated', response.statusText);
                }
            })
            .catch(error => {
                // Handle any errors
                console.error('Error order status updated', error);
            });
        // Here, you can use JavaScript to update the status via an API call or other means.
        // For simplicity, this example just alerts the selected status.

    }

</script>
</body>
</html>
