<!DOCTYPE html>
<html lang="en">
<head>



    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header style="background-color:black;">
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div>
            <i class="fa fa-shopping-cart cart-icon" style="font-size: 48px; color: red;"></i>
            <span style="color: white; font-weight: bold; font-size: 36px; font-family: cursive;">Shopwise</span>
        </div>
        <div>
            <a href="{% url 'admin_order_detail' %}" style="margin-right: 10px;font-size: 20px;color:white;text-decoration: none;">Order Detail</a>
        </div>
        <div>
            <a href="{% url 'admin_utility' %}" style="margin-right: 10px;font-size: 20px;color:white;text-decoration: none;">Order Summary</a>
        </div>
        <div>
            <a href="{% url 'admin_utility_logout' %}" style="margin-right: 10px;font-size: 20px;color:white;text-decoration: none;padding-right:30px;">Logout</a>
        </div>
    </div>
</header>

</body>
</html>
{% block content %}
  {% endblock %}