<!DOCTYPE html>
{% extends 'index.html' %}

{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
       .wish_emt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    </style>
</head>
<body>
<div class="_1AtVbE col-12-12">
    <div class="wish_emt">
        <img src="/static/img/emt_wishlist.png" class="_2giOt4">
        <div class="_1LCJ1U">Missing Wishlist items?</div>
        <div class="hKIFfL">Login to see the items you added previously</div>
        <div class="d-flex justify-content-center">
        <a class="dropdown-item " href="{% url 'login' %}"><button class="_2KpZ6l 1sbqEe 3AWRsL"><span>Login</span></button></a></div></div>
</div>
</body>
</html>
{% endblock %}
