<!DOCTYPE html>
{% extends 'index.html' %}

{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Empty cart</title>
    <style>


    .container {
        text-align: center;
        width:50%;
<!--        background-color: #fff;-->
<!--        padding: 20px;-->
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h3 {
        color: #333;
    }
    </style>
</head>
<body>
<div class="container" >
    <h1 >Empty cart</h1>
</div>
</body>
</html>
{% endblock %}