/* Reset some default styles to remove list markers and padding */
body,
ul {
    margin: 0;
    padding: 0;
}


.main-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/*
li {
    position: relative;
} */

a {
    color: #fff;
    text-decoration: none;
    /* padding: 10px; */
}

/* Styling the dropdown list */
.has-dropdown:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    padding: 10px;
}

.dropdown li {
    padding: 5px;
}

.dropdown li a {
    color: #fff;
    text-decoration: none;
}

/* Additional styling for better visibility */
/* .has-dropdown:hover>a {
    background-color: #555;
    border-radius: 4px;
} */

/* .men-wears {
    display: flex;
    flex-direction:column ;
} */

/* .topwear,
.indian_festiwal_wear {
    display: flex;
    flex-direction: column;
} */


/* .men-list {
    position: relative;
} */


.main-navbar {
    background-color: white;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.navbar-container {
    position: relative;
    padding: 0;
    margin: 0px 50px;
}

/*  */
.hamberger-menu span {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menus .men-list {
    padding: 0 16px;
}

.men-list:hover .men-wears,
.men-list:hover .men-underline {
    display: flex;
    border-bottom: 2px solid white;
}

.men-wears {
    display: none;
    /* display: flex; */
    position: absolute;
    background-color: white;
    padding: 20px 20px 20px 20px;
    top: 68px;
    left: 92px;
    height: 315px;
}

.men-wears ul {
    list-style: none;
}

.men-wears ul li {
    padding: 0 0 3px 0;
}

.men-wears ul li a {
    color: black;
}

.men-wears ul li a:hover {
    font-weight: bolder;
    font-size: 16px;
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.section-2,
.section-4 {
    /* background-color: rgba(128, 128, 128, 0.562); */
}


.user-profile .profile-dropdown {
    display: none;
}

.user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user-details li {
    padding: 0px 24px;
}

.user-details a,
.profile {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item.active a {
    color: blue;
}





.container-headings {
    border-bottom: 2px solid;
}


.kids-section .kids-collection-card {
    border-radius: 20%;
}

.categories-to-bag .categories-list-item .categories-list-item-image {
    border-radius: 70px;
}